<div class="row margin">
  <section class="small-4 columns">
    <%= link_to(image_tag(@recipe.image, :alt => "recipe photo", :title => @recipe.label), @recipe.url) %>
  </section>
  <section class="small-8 columns line-height">
    <h3><%= @recipe.label %></h3>
    <h5>Yield: <%= @recipe.yield %></h5>
    <p>Powered by <%= link_to(image_tag('edamam.png', :alt => "edamam logo"), 'https://www.edamam.com/') %></p>
  </section>
</div>

<div class="row recipes-show margin">
  <aside class="small-6 columns">
    <hr>
    <h5>Nutritional Information</h5>
    <p>Total Calories: </p>
    <p>Fat: </p>
    <p>Protein: </p>
    <p>Carbohydrates: </p>
    <hr>
  </aside>
  <section class="small-6 columns">
    <br>
    <h3>Ingredients</h3>
    <% @recipe.ingredientLines.each do |recipe| %>
        <p><%= recipe %></p>
    <% end %>
  </section>
</div>
