<section class="column small-8">
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient %>
    </li>
    <% end %>
  </ul>

  <small>[Fat: <%= @recipe.fat %> g; Saturated Fat: <%= @recipe.satfat %> g; Trans Fat: <%= @recipe.trfat %> g; Carbohydrates: <%= @recipe.carb %> g, Fiber: <%= @recipe.fiber %> g, Protein: <%= @recipe.protein %> g]</small>
</section>
