<ul class="row small-up-1 medium-up-2 large-up-3">
<% @recipes.each do |i| %>
  <li class="column">
    <%= image_tag(i.photo, alt: i.label) %>
    <p class="recipe-name"><%= link_to i.label, recipe_path(i.label, :data => { :uri => i.uri }) %></p>
  </li>
<% end %>
</ul>

<!-- Use page_num to differentiate between previous page and next page -->
<% if @page.to_i > 1 %>
  <%= link_to "Previous page", next_page_path(:data => { :query => @query, :page => @page, :page_num => -1 }) %>
<% end %>
<div class="page-nav"><%= "Page #{ @page }" %></div>
<% unless @recipes.count < 10 %>
  <%= link_to "Next page", next_page_path(:data => { :query => @query, :page => @page, :page_num => 1 }) %>
<% end %>


<!-- CONSIDER VIEW HELPER METHODS -->
