<ul class="row small-up-1 medium-up-2 large-up-4">
<% @recipes.each do |i| %>
  <li class="column">
    <p class="recipe-image"><%= image_tag(i.photo, alt: i.label) %></p>
    <p class="recipe-name"><%= link_to i.label, recipe_path(i.label, :data => { :uri => i.uri }) %></p>
  </li>
<% end %>
</ul>


  <div class="column page-nav">

    <p><%= "Page #{ @page }" %><p>

    <p>
      <% if page_navigation_previous %>
      <%= link_to "<< Page #{ @page - 1 }", next_page_path(:data => { :query => @query, :page => @page, :page_num => @page_num }) %>
      <% end %>

      <%= " || " if page_navigation_previous && page_navigation_next %>
      <% if page_navigation_next %>
      <%= link_to "Page #{ @page + 1 } >>", next_page_path(:data => { :query => @query, :page => @page, :page_num => @page_num }) %>
      <% end %>
    </p>
  </div>
