<h1>RECIPES</h1>

<%= form_tag(root_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", name: nil) %>
<% end %>

<% if @data %>
  <% @data.each do |recipe| %>
    <h3><%= link_to recipe.name, recipe_path(recipe.name, request.parameters.merge({:uri => recipe.uri})) %></h3>
    <img src="<%= recipe.image %>"/>
  <% end %>
  <%= paginate @data %>
<% end %>
