<h1>This should be the homepage.</h1>

<%= form_tag(recipes_index_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, "" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @recipes %>
  <%= link_to "Next ten pages", "#{URI.encode(@query_string)}" %>
<% end %>
<% if params[:startindex].to_i >= 10%>
<p>
  <%= link_to "Previous ten pages", "#{URI.encode(@back_query_string)}" %>
</p>
<% end %>

<% if @recipes %>
  <% if @recipes.empty? %>
    <p>Sorry, no such recipes were found.</p>
  <% else %>
    <% @recipes.each do |recipe| %>
    <p>Here is a recipe:</p>
    <p><%= recipe.label %></p>
    <%= link_to "External link", recipe.url, :target => "_blank"%>
    <% id = recipe.uri.split("edamam.owl#").last %>
    <%= link_to "Internal Link", recipes_show_path(id) %>
    <% end %>
  <% end %>

<% else %>
  <p>
    Here will appear your delicious, delicious recipes. Yum. Recipes.
  </p>
<% end %>
