
<div class="row">
  <h1>Search results for <%= params[:q] %></h1>
</div>


<ul>

<div class="row">
  <ul class="12-column columns breadcrumbs">
    <li>Revisit Recent Searches</li>
    <% @recent_search_terms.each do |term| %>
      <li>
        <%= link_to term["q"], { controller: "recipes", action: "index", q: term["q"], "health1" => term["health1"], "health2" => term["health2"], "diet1" => term["diet1"], from: 0, to: 12 }, method: :get %>
      </li>
    <% end %>
  </ul>
</div>


<div class="row alert">
  <%= flash[:notice] %>
</div>


<div class="row small-up-2 medium-up-3 large-up-4">
  <% @recipes.each do |recipe|%>
    <div class="column">
      <li><%= link_to (image_tag recipe[:image]), {controller: 'recipes', action: 'show', id: 1, uri: recipe[:uri]} %></li>
      <li class="recipe-name"><%= link_to recipe[:name].titleize, {controller: 'recipes', action: 'show', id: 1, uri: recipe[:uri]}%></li>
    </div>
  <% end %>
</div>

<div class="row small-up-2 medium-up-2 large-up-2 small-centered">
  <div class="column">
    <% if params[:from].to_i != 0 %>
      <button onclick="history.back(1)" class="next-button right-align">Back</button>
    <% else %>
      <button class=blank></button>
    <% end %>

  </div>

  <div class="column">
    <% if !@next_recipes.empty? %>
      <%= form_tag recipes_path, {method: :get} do %>
        <%= hidden_field_tag(:q, params[:q]) %>
        <%= hidden_field_tag(:from, params[:from].to_i + 10) %>
        <%= hidden_field_tag(:to, params[:to].to_i + 10) %>
        <%= submit_tag "Next", class:"next-button left-align" %>
      <% end %>
    <% end %>
  </div>
</div>


</ul>
