
<%= form_tag(root_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", name: nil) %>
<% end %>

<% if @data %>
  <% @data.each do |recipe| %>
    <div class="return">
      <img src="<%= recipe.image %>"/>
      <p><%= link_to recipe.name, recipe_path(recipe.name, request.parameters.merge({:uri => recipe.uri})) %></p>
    </div>
  <% end %>
  <%= paginate @data %>
<% end %>
