<div>&nbsp</div>
<section>
  <div class="row small-up-2">
  <% @recipes.each do |recipe| %>
    <div class="column">
      <h3><%= recipe.name %></h3>
    <img src="<%= recipe.recipe_image %>">
    <h4><%= link_to("Details", recipe_path(recipe.id), class: "secondary button") %></h4>
    </div>
  <% end %>
  <% if @recipes == [] && !params[:search].nil? %>
    <p>There are no results for that term.</p>
  <% end %>
  </div>
</section>

<% if @recipes != [] %>
  <section class="row">
    <section class="column small-4">
      <div class="page-num">
        <%= "Page #{ @page }" %>
      </div>
    </section>
    <section class="column small-4">
      <% if @page.to_i > 1 %>
      <%= link_to "Previous page", pagination_path( { :search => @search_term, :page => @page, :page_num => -1   }), class: "success button" %>
      <% end %>
    </section>
    <section class="column small-4">
      <% unless @recipes.count < 9 || (@more_items_after == true && @page.to_i == 10) %>
        <%= link_to "Next page", pagination_path( { :search => @search_term, :page => @page, :page_num => 1}), class: "success button" %>
      <% end %>
    </section>
  </section>
<% end %>
