<h1>Search results for <%= params[:q] %></h1>

<ul>

<%= flash[:notice] %>

<h3>Recent Searches</h3>
<% @recent_search_terms.each do |term| %>
  <%= link_to term["q"], { controller: "recipes", action: "index", q: term["q"], "health1" => term["health1"], "health2" => term["health2"], "diet1" => term["diet1"], from: 0, to: 10 }, method: :get %>
<% end %>

<% if params[:from].to_i != 0 %>
  <%= form_tag recipes_path, {method: :get} do %>
    <%= hidden_field_tag(:q, params[:q]) %>
    <%= hidden_field_tag(:from, params[:from].to_i - 10) %>
    <%= hidden_field_tag(:to, params[:to].to_i - 10) %>
    <%= submit_tag("Back") %>
  <% end %>
<% end %>

<% if !@next_recipes.nil? %>
  <%= form_tag recipes_path, {method: :get} do %>
    <%= hidden_field_tag(:q, params[:q]) %>
    <%= hidden_field_tag(:from, params[:from].to_i + 10) %>
    <%= hidden_field_tag(:to, params[:to].to_i + 10) %>
    <%= submit_tag("Next") %>
  <% end %>
<% end %>

<% @recipes.each do |recipe|%>
  <div>
    <li><%= link_to recipe[:name], {controller: 'recipes', action: 'show', id: 1, uri: recipe[:uri]}%></li>
    <li><%= image_tag recipe[:image] %></li>
  </div>
<% end %>

</ul>
