<section>
  <% @recipes.each do |recipe| %>
    <h2>Search Results</h2>
    <p><%= recipe.name %></p>
    <img src="<%= recipe.recipe_image %>">
    <p><%= link_to("Details", recipe_path(recipe.name)) %>
  <% end %>
  <% if @recipes == [] && !params[:search].nil? %>
    <p>There are no results for "<%= @search_term %>".</p>
  <% end %>
</section>

<% if !@recipes == [] %>
  <section class="row">
    <section class="column small-4">
      <% if @page.to_i > 1 %>
      <%= link_to "Previous page", next_page_path( { :search => @search_term, :page => @page, :page_num => -1   }) %>
      <% end %>
    </section>
    <section class="column small-4">
      <div class="page-num">
        <%= "Page #{ @page }" %>
      </div>
    </section>
    <section class="column small-4">
      <% unless @recipes.count < 10 %>
      <%= link_to "Next page", next_page_path( { :search => @search_term, :page => @page, :page_num => 1}) %>
      <% end %>
    </section>
  </section>
<% end %>
