<h1>RECIPES</h1>

<%= form_tag(root_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", name: nil) %>
<% end %>

<% @data.each do |recipe| %>
  <h3><%= link_to recipe.name, recipe_path(recipe.name) %></h3>
  <img src="<%= recipe.image %>"/>
<% end %>
