<h1>This should be the homepage.</h1>

<% if @recipes %>
  <h3>You searched for "<%= params[:search] %>". Here are your results:</h3>
  <p><%= link_to "New search", recipes_index_path(0) %></p>

  <% if @recipes.empty? %>
    <% if params[:startindex] == "0" %>
      <p>Sorry, no such recipes were found.</p>
    <% else %>
      <p>No more recipes for "<%= params[:search] %>" exist.</p>
    <% end %>
  <% else %>
    <p><%= link_to "Next ten pages", "#{URI.encode(@query_string)}" %></p>
    <% if params[:startindex].to_i >= 10 %>
    <p><%= link_to "Previous ten pages", "#{URI.encode(@back_query_string)}" %></p>
    <% end %>

    <% @recipes.each do |recipe| %>
    <p><%=image_tag(recipe.image) %></p>
    <%= link_to "External link", recipe.url, :target => "_blank"%>
    <% id = recipe.uri.split("edamam.owl#").last %>
    <%= link_to "#{recipe.label}", recipes_show_path(id) %>
    <% end %>
  <% end %>

<% else %>
  <p>
  <%= form_tag(recipes_index_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, "" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
  </p>
  <p>
    Here will appear your delicious, delicious recipes. Yum. Recipes.
  </p>
<% end %>
