<article>
  <header>
    <h1 class=""><%= @recipe.label %> </h1>
  </header>

  <section>
    <ul>
      <li><%= @recipe.label %></li>
      <li><%= image_tag(@recipe.image) %></li>
      <li><%= link_to("Source: #{ @recipe.source_name }", @recipe.sourceUrl, target: '_blank') %></li>
      <li><%= "Yields: #{ @recipe.yield }" %></li>
      <li><%= @recipe.ingredientLines %></li>
      <li><%= @recipe.healthLabels %></li>

    </ul>
  </section>
</article>
