<article>
  <header>
    <h1 class="indent"><%= @recipe.label %> </h1>
  </header>

  <section>
    <ul class="no-bullet indent">
      <li><%= @recipe.label %></li>
      <li><%= image_tag(@recipe.image) %></li>
      <li>Preparation:
        <%= link_to("Source: #{ @recipe.source_name }", @recipe.sourceUrl, target: '_blank') %></li>
      <li>
        <% if @recipe.healthLabels != [] %>
          <%= @recipe.healthLabels %></li>
        <% end %>
      <li><%= "Serves: #{ @recipe.yield }" %></li>
      <li><%= @recipe.ingredientLines %></li>

    </ul>
  </section>
</article>
