<main class="light-green">

<h2><%= @recipe.label %></h2>

<div class="row small-up-1">
<p class="column">
<%=link_to image_tag(@recipe.image, :alt => "#{@recipe.label}"), @recipe.url %>
</p>
<p class="column text-center">
<%= link_to "Click me for detailed instructions", @recipe.url, :target => "_blank", class: "external-link"%>
</p>
</div>


<ul class="row small-up-1 medium-up-2">
  <li class="column">
    <h4>You'll need:</h4>
    <% @recipe.ingredients.each do |ingredient|%>
    <p><%= ingredient %></p>
    <% end %>

    <h4>This recipe is a fit for the following diet plans:</h4>
    <% unless @recipe.diet_info.empty? %>
      <% @recipe.diet_info.each do |diet| %>
      <p><%= diet %></p>
      <% end %>
    <% else %>
      We apologize, but this recipe does not include information on matching diet plans.
    <% end %>
  </li>

  <li class="column text-center">
    <h4>Nutritional information</h4>
    <p>
      <%= @recipe.kcal_per_serving %>
      <%= @recipe.calories["unit"]%>
      per serving,
      <%= @recipe.get_daily("Energy")%>%
      daily value
    </p>
    <ul class="row small-up-3">
      <li class="column">
        Nutrient
      </li>
      <li class="column">
        Total per serving
      </li>
      <li class="column">
        % daily value
      </li>
    </ul>

    <ul class="row small-up-3">
    <% @recipe.nutrients.each do |nutrient| %>

        <li class="column">
          <%= nutrient["label"] %>
        </li>
        <li class="column">
          <%= (nutrient["total"] / @recipe.servings).round(2) %>
          <%= nutrient["unit"]%>
        </li>
        <li class="column">
          <%= @recipe.get_daily(nutrient['label']) %> %
        </li>
        <% if nutrient["sub"] %>
          <% nutrient["sub"].each do |subnutrient| %>
            <li class="column">
              <%= subnutrient["label"] %>
            </li>
            <li class="column">
              <%= (subnutrient["total"] / @recipe.servings).round(2) %>
              <%= subnutrient["unit"]%>
            </li>
            <li class="column">
              <% percentage = @recipe.get_daily(subnutrient["label"]) %>
              <% if percentage %>
                <%= percentage %> %
              <% else %>
                -
              <% end %>
            </li>
          <% end %>
        <% end %>

    <% end %>
  </ul>

</li>

</ul>

</main>
