<section class="show-recipe">
  <% puts "Hi show!!" %>
  <h1><%= link_to "#{ @recipe.label }", "#{ @recipe.url }", :target => "_blank" %></h1>
  <%= render partial: "dietinfo" %>
  <section class="row">
    <section class="column small-4">
      <%= image_tag @recipe.image, alt: "Picture of dish" %>
      <p>Calories per serving: <%= @recipe.calories.to_i/@recipe.servings.to_i %></p>
    </section>
    <%= render partial: "ingredient" %>
  </section>
</section>
