<article>
  <h2><%=@recipe.name%></h2>

  <section class="food-summary">
    <h4>
    <%=link_to "Original Recipe Here", @recipe.url, :target => "_blank"%> </h4>
    <%=image_tag("#{@recipe.image}")%>
  </section>

  <section class="ingredients">
    <h4>Ingredients:</h4>
    <%@recipe.ingredients.each do |pieces|%>
    <p><%= pieces%></p>
    <%end%>
  </section>

  <section class="diet">
    <h4>Diet Information:</h4>
    <p><%= @recipe.diet_info.join(", ") %></p>
  </section>

</article>
