<h1><%= @recipe.label %></h1>

<%=image_tag(@recipe.image, :alt => "#{@recipe.label}") %>
<p><%= link_to "Go see the original recipe", @recipe.url, :target => "_blank"%></p>
<div>
  <h4>You'll need:</h4>
  <% @recipe.ingredients.each do |ingredient|%>
  <p><%= ingredient %></p>
  <% end %>
</div>

<div>
  <h4>This recipe is a fit for the following diet plans:</h4>
  <% labels = @recipe.diet_labels + @recipe.health_labels %>
  <% unless labels.empty? %>
    <% labels.each do |diet| %>
    <p><%= diet %></p>
    <% end %>
  <% else %>
    We apologize, but this recipe does not include information on matching diet plans.
  <% end %>

</div>
