<main>
  <section class='row'>
    <div class='columns small-12'>
      <h2 class='recipe-title'><%= @recipe.label %></h2>
    </div>
  </section>

  <aside>
    <%= render partial: "list", locals: {list: @recipe.health_labels} %>
    <%= render partial: "list", locals: {list: @recipe.diet_labels} %>
  </aside>

  <article class='row'>
    <div class='columns small-12 medium-6 large-4'>
      <%= image_tag @recipe.image %>
    </div>
    <div class='column small-12 medium-6 large-8'>
      <%= render partial: "check_list", locals: {list: @recipe.ingredients} %>
    </div>
    <div class='columns small-12 off-site-link'>
      <small>Source: <%= link_to @recipe.original_site, @recipe.original_url, target: "_blank" %></small>
    </div>
  </article>
</main>
