<header>
  <%= link_to "Back to Search Page", root_path %>
  <%= will_paginate @individual_recipe, :page_links => false %>
</header>
<section class="row">
  <section class="small-12 medium-6 large-4 columns">
    <ul>RECIPES</ul>
    <% @individual_recipe.each do |individual_recipe| %>
      <li><%= link_to individual_recipe.label, page_path(individual_recipe.id) %><%= link_to image_tag(individual_recipe.image), page_path(individual_recipe.id) %></li>
    <% end %>
    </ul>
  </section>
</section>
<footer>
  <%= will_paginate @individual_recipe, :page_links => false %>
  <%= link_to "Back to Search Page", root_path %>
</footer>
