<h1>SHOW</h1>
<%= link_to "Back to Index", index_page_path(:q => @query, :page => @page) %>

<%# button_to "Back to Index", index_page_path, params: {page: Recipe.current_page}, method: :get %>

<p>
  Name: <%= @recipe.label %>
</p>
<p>
  <%= link_to "Original recipe", @recipe.url, target: :_blank %>
</p>
<p>
  Ingredients:
  <ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
  </ul>
</p>
<p>
  Dietary information:
  <% @recipe.diet.each_with_index do |d, i| %>
    <% if i != (@recipe.diet.length - 1) %>
      <%= d %>,
    <% else %>
      <%= d %>.
    <% end %>
  <% end %>
</p>
