<h2>Search results from <%= @search_index %> to <%= @search_index.to_i + 10 %> for <%= @search_word %></h2>

<%= link_to "previous page", page_path(search_index: @search_index.to_i - 10, search_word: @search_word) %> | <%= link_to "next page", page_path(search_index: @search_index.to_i + 10, search_word: @search_word) %>

<ul>
<% @results.each do |result| %>
  <li><%= image_tag result.image %>
  <p><%= link_to result.name, search_path(id: result.id), target: "_blank" %></p></li>
<% end %>
