<% if @results.nil? %>
  <!-- <h1>There was a problem with your searh.</h1>
  <h3>Please <%#= link_to "click here", root_path %> to search again</h3> -->
<%else %>
  <h2>Search results from <%= @search_index %> to <%= @search_index.to_i + 10 %> for <%= @search_word %></h2>

  <%= link_to "previous page", page_path(search_index: @search_index.to_i - 10, search_word: @search_word) %> | <%= link_to "next page", page_path(search_index: @search_index.to_i + 10, search_word: @search_word) %>

  <article class="row small-up-2 medium-up-3 large-up-5 recipe-results">
      <% @results.each do |result| %>
        <div class="column single-recipe-result">
          <%= link_to search_path(id: result.id), target: "_blank" do %>
            <%= image_tag result.image %>
            <p><%= result.name %></p>
          <% end %>
        </div>
      <% end %>
  </article>

<%end %>
