<h1><%= @recipe.name %></h1>
<%= image_tag @recipe.image %>
<h4>Source:</h4>
  <ul>
    <li><%= @recipe.source %></li>
  </ul>

<h4>Ingredients:</h4>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>

<h4>Instructions:</h4>
<a href="<%= @recipe.url %>"</a><%= @recipe.url %></p>
