<!DOCTYPE html>
<html>
<head>
  <title>EdamamApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Monoton|Work+Sans" rel="stylesheet">
</head>
<body>

  <header>
    <hgroup class="row">
      <h1 class="small-12 medium-12 large-8 columns large-offset-3 columns">Recipe Muncher</h1>
      <br></br>
      <p class="small-6 medium-4 large-6 columns">...for when you just don't give a jam</p>
    </hgroup>

    <div class="row">
        <%= form_tag recipe_search_index_path, :method => "get" do %>
          <%= text_field_tag :query, params[:query] %>
          <%= submit_tag "Search", class: "button", :name => nil %>
        <% end %>
    </div>
  </header>

<%= yield %>

</body>
</html>
