<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald|PT+Sans" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : "Hangry Haven" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h1 id="title"><%= link_to "Hangry Haven", root_path %></h1>
    </header>

    <%= yield %>


    <footer>
      <p id="copyright">&copy Jessica Chung 2016</p>
      <p id="credit">powered by <img id="logo" src="http://ww1.prweb.com/prfiles/2014/01/29/11570463/Logo%201024x500.png"/></p>
    </footer>

  </body>
</html>
