<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= @homepage ? 'homepage' : '' %>">

  <div class="non-footer">
    <header>
      <div class='row'>
        <div class='column centered-item'>
          <h1><%= link_to "r e c i p e f i n d e r s", recipefinders_index_path %></h1>
          <ul class='tagline'>
            <li>taste the world</li>
            <li>explore exotic flavors</li>
            <li>find a new favorite</li>
          <ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </div>

<footer>
  <div class='row'>
    <div class='column small-12 <%= @homepage ? 'homepage' : '' %>'>
      <p><%= link_to image_tag('edamamlogo.png'), 'http://developer.edamam.com' %></p>
    </div>
  </div>
</footer>

</body>
</html>
