<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= yield %>

  </body>
  <footer class = "footer">
    <% Time.zone = "Pacific Time (US & Canada)" %>
    <h5>Recipe Search API powered by <%= link_to (image_tag 'https://www.edamam.com/images/logo-site-header.png'), 'http://developer.edamam.com' %></h5>
    <h6>&copy; <%= year_range(2016) %> Kate Shaffer</h6>
  </footer>
</html>
