<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="row">
    <%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
      <p class="small-6 large-3 columns"><%= text_field_tag :search, params[:search], placeholder: "Search Recipes", id: "search_box" %></p>
      <p class="small-1 columns end"><%= submit_tag "Search", :name => nil%></p>
    <% end %>
    <p class="small-1 columns"><%= button_to "Recipe Seach Home", root_path, method: :get, class: "secondary button" %></p>
  </header>
<%= yield %>
  <footer>Powered by <%=link_to image_tag("edamam.png"), "https://developer.edamam.com/"%></footer>
</body>
</html>
