<!DOCTYPE html>
<html>
<head>
  <title>nom noms hunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <section>
        <div class="row">
            <h1><%= link_to "nom noms hunt", root_path%></h1>
            <h2>Search</h2>
            <%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
            <ul class="menu large-12 columns nopadding">
              <li><%= hidden_field_tag :page, 1 %></li>
                <li><%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %></li>
                <li><%= submit_tag "Search", :name => nil, class: "button" %></li>
              </ul>
              <% end %>
            </div>
          </section>
        </nav>
      </header>
      <main>

  <%= yield %>
</main>
<footer>
  <div class ="row">
    <p class="small-10 columns">&copy; Jennifer Owens <%= Time.now.year %></p>
    <%= link_to image_tag('edamamattribution.png', alt: "Edamam logo", class: "small-2 columns"),'http://developer.edamam.com'%>
  </div>
    </footer>
  </body>
  </html>
