<!DOCTYPE html>
<html>
<head>
  <title>Recipe Vault</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <div class="row">

          <div class="search medium-6 small-12 columns">
            <%= form_tag recipes_path, {method: :get} do %>

            <div class="row">
              <div class="small-12 columns">
                <%= text_field_tag :q, nil, placeholder: "Search Recipes" %>
                <%= hidden_field_tag(:from, 0) %>
                <%= hidden_field_tag(:to, 12) %>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <%= check_box_tag("health1", "vegetarian", false) %>
                <%= label_tag "Vegetarian" %>

                <%= check_box_tag("health2", "vegan", false) %>
                <%= label_tag "Vegan" %>

                <%= check_box_tag("diet1", "high-fiber", false) %>
                <%= label_tag "High-Fiber" %>
              </div>
            </div>
          </div>


          <div class="small-12 medium-6 columns">
            <div class="row">
              <div class="small-12 medium-4 columns">
                <%= submit_tag "Search", class:"right-align button" %>
              </div>
              <div class="small-12 medium-4 columns">
                <% if session[:user_id].nil? %>
                  <%= link_to "Login", new_session_path, class:"hide" %>
                <% else %>
                  <%= link_to "Favorites", favorites_path, method: :get, class:"button" %>
                <% end %>
              </div>
              <div class="login small-12 medium-4 columns">
                <% if session[:user_id].nil? %>
                  <%= link_to "Login", new_session_path, class:"button" %>
                <% else %>
                  <%= link_to "Logout", session_path(@user), method: :delete, class:"button" %>
                <% end %>
              </div>

            </div>
          </div>

          <% end %>



      </div>
    </nav>
    <div class="row">
      <div class="medium-6 small-12 columns nav-spacer"></div>
      <div class="medium-6 small-12 columns nav-extra-spacer"></div>
    </div>
  </header>

  <%= yield %>


  <div class="foot-spacer"></div>

  <footer>
    <p>All data courtesy the <a href="http://www.edamam.com">Edamam</a> API</p>
  </footer>

</body>
</html>
