<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
 <%= image_tag("pacman.png")%>
  <h1><%= link_to("Muncher",root_path) %></h1> 
</header>
<%= form_tag search_recipes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :term, params[:term], :required => 'required' %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= yield %>

</body>
</html>