<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <p></p>
    <% if flash[:notice] %>
      <h3 class="flash-notice"><%= flash[:notice] %></h3>
    <% end %>

    <p class="row">
    <%= form_tag( list_path, :method => "get" ) do %></p>
      <p class="small-10 columns">
        <%= text_field_tag :search, params[:search], placeholder: 'Enter a search term...' %></p>
      <%= submit_tag "Search Recipes", class: "button" %>
    <% end %>
  </header>

<%= yield %>

<footer>
  <p class="small-12 columns">| &copy; Miriam Cortes | 2016 | This website is made possible thanks to a free API powered by <%= link_to(image_tag("https://www.edamam.com/images/logo-site-header.png"),"https://www.edamam.com/", :target => "_blank") %></p>
</footer>
</body>
</html>
