<!DOCTYPE html>
<html>
  <head>
    <title>Food</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    </header>

    <section id="error">
      <% if !flash.empty? %>
        <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
        <% end %>
      <% end %>
    </section>
    
    <section id="main">
      <%= yield %>
    </section>

    <footer></footer>
  </body>
</html>
