<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  <div>&copy;<%= "Danielle Schrimmer #{Date.today.year}. Data powered by: "%> <%= link_to(image_tag("https://www.edamam.com/images/logo-site-header.png", alt: "Edamam"), "https://www.edamam.com/", target: "_blank") %></div>
</footer>

</body>
</html>
