<!DOCTYPE html>
<html>
<head>
  <title>MUNCH ON THIS: A RECIPE FINDER</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
  <nav class="row">
    <%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for Munchables Here" %>
    <%= submit_tag "Search", :name => nil %>
    <% end %>
  </nav>


  <%= yield %>

  <footer>
    Website built by Dianne Laguerta. Recipes powered by Edamam.
  </footer>

</body>
</html>
