<!DOCTYPE html>
<html>
<head>
  <title>Recipe Vault</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= form_tag recipes_path, {method: :get} do %>
    <%= text_field_tag(:q) %>
    <%= hidden_field_tag(:from, 0) %>
    <%= hidden_field_tag(:to, 10) %>
    <%= check_box_tag("health1", "vegetarian", false) %>
    <%= label_tag "Vegetarian" %>
    <%= check_box_tag("health2", "vegan", false) %>
    <%= label_tag "Vegan" %>
    <%= check_box_tag("diet1", "high-fiber", false) %>
    <%= label_tag "High-Fiber" %>
    <%= submit_tag("Search") %>
  <% end %>

  <% if session[:user_id].nil? %>
    <%= link_to "Login", new_session_path %>
  <% else %>
    <%= link_to "Logout", session_path(@user), method: :delete %>
  <% end %>

  <%= yield %>

</body>
</html>
