<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="row">
      <h2 class="small-12 medium-6 columns header-heading">
        Recipe Finder
      </h2>
      <ul class="menu small-12 medium-6 columns">
        <li><%= link_to "Home", recipes_path, class:"nav-button"%><li>
      </ul>
    </div>
  </header>

  <section class="content">
    <%= yield %>
  </section>

  <footer>
    <p>Powered by:<p><%= link_to(image_tag("edamam.png"), "https://www.edamam.com/")%>
  </footer
</body>
</html>
