<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="small-6 small-centered columns">
      <h3>Api Veg Muncher</h3>
    </div>
  </div>
<%= yield %>
  <footer>
    <div class="row">
      <div class="small-8 small-centered columns">
        <p><%= link_to "Powered by Edamam API", "https://www.edamam.com/" %></p>
      </div>
    </div>
  </footer>
</body>
</html>
